<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
      包可见性：前端要读出这 10 个目标应用的名称、图标和版本号。
      只声明真正需要的包，比 QUERY_ALL_PACKAGES 干净。
    -->
    <queries>
        <package android:name="com.kproduce.weight" />
        <package android:name="com.swhh.fasting.tomato" />
        <package android:name="com.qyxy.tomato.android" />
        <package android:name="com.jx885.lrjk" />
        <package android:name="com.mt.copyidea" />
        <package android:name="com.zzdbwku.zizbnea" />
        <package android:name="com.wangc.todolist" />
        <package android:name="com.jhyan.yan" />
        <package android:name="com.wangc.bill" />
        <package android:name="com.slfteam.qdiary" />
    </queries>

    <!--
      现代 libxposed API（LSPosed API 102）说明：
        模块名称 -> android:label，模块描述 -> android:description
        入口类   -> META-INF/xposed/java_init.list
        作用域   -> META-INF/xposed/scope.list
        模块配置 -> META-INF/xposed/module.prop
    -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:description="@string/module_description"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HookVIP"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- LSPosed 模块列表里的「模块设置」入口 -->
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
    </application>

</manifest>
